<h1>Please enter contact information</h1>
<form action="/contact_show" method="GET">
  <p>
    first name
    <input name="first" type="text" />
  </p>
  <p>
    last name
    <input name="last" type="text" />
  </p>
  <p>
    <input type="submit" value="Submit" />
  </p>
</form>